.contener {
  background-color: rgba(218, 235, 240, 0.727);
  margin: 20px;
}
.contener-table {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  grid-column: 2;
  justify-items: stretch;
  margin-top: 20px;
}
.contener-form {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  grid-column: 2;
  justify-items: stretch;
  padding-bottom: 30px;
}

.input-label {
  width: 110px;
  display: flex;
  padding-right: 20px;
  padding-top: 10px;
}

.input {
  width: 14rem;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  flex-direction: row;
  justify-content: center;
}

.mdc-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 38px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  overflow: visible;
  vertical-align: middle;
  background-color: #f3f3f3;
  margin-top: 5px;
}

.btn-w {
  border: none;
  font-weight: bold;
  width: 7rem;
}

.content-between {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: end;
}

.content-center {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: end;
}

mat-form-field {
  border-radius: 4px;
  height: 100%;
  overflow: hidden;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.mat-form-field-flex {
  border: 1px solid #ccc; /* Border color can be changed as needed */
}

.mat-form-field-label {
  color: rgba(0, 0, 0, 0.6); /* Darker label color */
}

.mat-form-field-infix {
  border-top: transparent;
}

.text-align {
  text-align: center;
}

.bd-left {
  border-left: 1px solid #e0e0e0;
}

.mat-row:nth-child(even) {
  background-color: #f0f4ff; /* สีพื้นหลังสำหรับแถวคู่ */
}
